<h1> Todo </h1>

<div class="alert alert-success" *ngIf="message">{{message}}</div>

<!-- Dropdown for filter selection -->
<div class="form-group mt-3">
  <label for="filterSelect">Filter Todos based on completion status:    </label>
  <p-dropdown 
    [(ngModel)]="filterType"
    placeholder="Select a Status"
    [options]="availStatus" 
    optionLabel="name"
    (onChange)="applyFilter()"
    dropdownIcon="fas fa-caret-down">
  </p-dropdown>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-striped mb-0">
    <thead>
      <tr>
        <th>Description</th>
        <th>Target Date</th>
        <th>Is Completed?</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of filteredTodos | paginate: { id: 'todoPage', itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: filteredTodos.length }">
        <td [ngStyle]="{ 'background-color': getRowColor(todo) }">{{todo.description}}</td>
        <td [ngStyle]="{ 'background-color': getRowColor(todo) }">{{todo.targetDate | date | uppercase}}</td>
        <td [ngStyle]="{ 'background-color': getRowColor(todo) }">{{todo.done}}</td>
        <td>
          <button (click)="updateTodo(todo.id)" class="btn btn-success" [disabled]="isActionsDisabled(todo)">
            <i class="fa fa-pencil"></i>
          </button>
        </td>
        <td>
          <button (click)="deleteTodo(todo.id)" class="btn btn-warning" [disabled]="isActionsDisabled(todo)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-controls id="todoPage"
                      (pageChange)="pageChanged($event)"
                      (pageBoundsCorrection)="pageChanged($event)"
                      previousLabel="Previous"
                      nextLabel="Next"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page">
</pagination-controls>
  <div class="row">
    <button (click)="addTodo()" class="btn btn-success">Add</button>
  </div>
</div>
