<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> Cafe Management System
    </a>
    <div class="nav-actions">
      <button mat-raised-button class="nav-button" (click)="handleLoginAction()">
        <mat-icon>login</mat-icon>
        Login
      </button>
      <button mat-raised-button class="nav-button" color="primary" (click)="handleSignupAction()">
        <mat-icon>person_add</mat-icon>
        Signup
      </button>
      <button mat-stroked-button class="nav-button" (click)="handleForgotPasswordAction()">
        <mat-icon>lock_reset</mat-icon>
        Forgot Password
      </button>
    </div>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>All right reserved &#64;MB's Academy</h2>
</div>