.page-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
}

.page-content {
  flex: 1;
}

@media (max-width: 600px) {
  .page-wrapper {
    height: calc(100vh - 56px);
  }
}
