:host {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding: 0;
  background: transparent;
}

.profile-trigger {
  color: inherit;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 9999px;
}

.profile-trigger:hover {
  background: rgba(255, 255, 255, 0.12);
}

.profile-trigger:active {
  background: rgba(255, 255, 255, 0.18);
}
