                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/students}" th:classappend="${#httpServletRequest.requestURI.contains('/admin/students') and !#httpServletRequest.requestURI.contains('/import') ? 'active' : ''}">
                        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-hat-3 text-primary text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Students</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/students/import}" th:classappend="${#httpServletRequest.requestURI.contains('/admin/students/import') ? 'active' : ''}">
                        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-cloud-upload-96 text-success text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Import Students</span>
                    </a>
                </li>
